package common

templ ButtonNext(label string) {
	<button class="bg-slate-700 hover:bg-slate-900 text-white font-bold py-2 px-4 rounded-full flex items-center">
		{ label }
		<span class="material-icons md-18 md-light">arrow_forward_ios</span>
	</button>
}
