package templates

templ Index() {
    <html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Hasan Aybars Ari Portfolio</title>
        <link href="/css/output.css" rel="stylesheet"/>
    </head>
    <body>
        <div class="h-screen w-screen bg-black flex flex-col justify-center items-center">
            @Hello("Aybars")
        </div>
    </body>
    </html>
}