package templates

templ Site() {
	<div class="bg-black h-screen w-screen flex items-center justify-center">
		<div class="text-left mx-auto max-w-[50%]">
			<p class="font-sans text-white text-3xl md:text-5xl">
				This site was built using the HTMX & Go tech stack. Its rendering is
				fully server-side. It is still in ongoing development phase.
			</p>
		</div>
	</div>
}

